.notes {
  height: 100%;
  width: 100%;
  background-color: aqua;
  display: flex;

  .notes-sidebar {
    flex-basis: 25%;
    background-color: bisque;
    padding: 30px;
  }
  .notes-content-area {
    display: flex;
    flex-direction: column;
    width: 100%;

    .notes-navbar {
      height: 80px;
      background-color: aliceblue;
      width: 100%;
      padding: 20px;
    }

    .notes-container {
      display: flex;
      /* justify-content: space-between; */
      height: 100%;
      width: 100%;

      .notes-list {
        min-width: 20%;
        flex: 1;
        background-color: brown;
        padding: 20px;
      }
    }
  }
}

.note-list-item {
  width: 80%;
  min-height: 100%;
}
