.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.sidebar-options {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 30px;
  align-items: center;
}

.sidebar-btn {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 150px;
}
